@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.logo-icon {
  font-size: 21px;
}

.logo-full {
  height: 30px;
  flex-grow: 2;
  margin-left: 8%;
}

.right-menu__item {
  margin-left: 8px;
  color: #000;
  font-size: 21px;
}

.content {
  background: #f9f9f9;
  padding-bottom: 60px;
}

.stories {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  padding: 15px 0;
}

.storie {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  padding: 3px;
  margin-right: 10px;
}

.storie__image {
  border-radius: 50%;
  height: 100%;
  border: 3px solid #fff;
}

.storie--active {
  background: linear-gradient(
    45deg,
    rgba(245, 160, 77, 1) 0%,
    rgba(160, 15, 139, 1) 100%
  );
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
}

.post__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.post-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-user__profile {
  height: 40px;
  border-radius: 20px;
  margin-right: 15px;
}

.post-user__name {
  font-size: 13px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.post-share {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
}

.post-share__dot {
  width: 4px;
  height: 4px;
  float: left;
  margin-right: 4px;
  border-radius: 20px;
  background-color: #000;
}

.post__picture {
  border-radius: 8px;
  max-width: 100%;
}

.post__actions {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
  padding: 8px 0;
}

.post-action-left i {
  padding-right: 10px;
}

.post__description {
  font-size: 12px;
}

.post-likes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.float-menu {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.float-menu__list {
  display: flex;
  max-width: 560px;
  margin: 0 auto;
  padding: 0 15px;
  list-style: none;
  justify-content: space-between;
}

.float-menu__list-item {
  padding: 15px 15px 5px 15px;
}

.float-menu__list-link {
  color: #222222;
}

.float-menu__list-link--special {
  color: #fff;
  background: linear-gradient(
    45deg,
    rgba(245, 160, 77, 1) 0%,
    rgba(160, 15, 139, 1) 100%
  );
  height: 50px;
  width: 50px;
  border-radius: 30px;
  border: 4px solid #fff;
  position: relative;
  margin-top: -20px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
